@import './variables';
@import './mixins';
@import "~bootstrap/scss/bootstrap.scss";
@import  'grid', 'dropdown';

 /* Override styles */
body {
    background: $backgroundColor;
}
a {
    @include themify($themes) {
        color: themed('primaryColor'); 
        &:hover {
            color: themed('primaryDarkColor'); 
        }
    }
}
.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
    background-color: transparent;
    background-image: none;
    box-shadow:none;
    outline: none;
    @include themify($themes) {
        color: themed('primaryColor');
        border-color: themed('primaryColor');
        &:hover {
            color: #ffffff;
            background: themed('primaryColor');
        }
    }
}

/* Progress bar for recommendation */
.progress {
    @include themify($themes) {
        background-color: themed('secondaryLightColor');
        .progress-bar {
            background-color: themed('secondaryColor');
        }
    }
    height: 0.5rem;
    width: 100%;
}
/* Star rating in services list */
.stars-container {
    .star {
        font-size: 1.5rem;
    }
    @include themify($themes) {
        .star {
            color: themed('secondaryLightColor');
        }
        .filled {
            color: themed('secondaryColor');
        }
    }
}

/* Global styles */
.bold {
    font-weight: bold;
}
.light-text {
    color: $textLightColor;
}
.larger-text {
    font-size: 1.5rem;
}
.primary-color-text {
    @include themify($themes) {
        color: themed('primaryColor');
    }
}
.small-text {
    font-size: 0.7rem;
}
.border-bottom-green {
    @include themify($themes) {
        border-bottom: 2px solid themed('primaryColor');
    }
}
.display-inline {
    display: flex;
    flex-direction: row;
    & > * {
        margin-right: 0.5rem;
    }
}
.display-columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    text-align: center;
}

.subtitle {
    @include themify($themes) {
        color: themed('primaryColor');
    }
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.title {
    font-weight: bold;
}

.wrapper {
    padding: 1rem 0rem;
    border-top: 1px solid $borderColor;
}

.two-columns-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.5rem 0rem;
}

.field-name {
    color: $textLightColor;
}
.status-item {
    @include themify($themes) {
        background: themed('primaryColor');
    }
}

.status-item.status-inactive {
    background: #dc3232;
}

/* Editable info container */
.edit-input {
    border: none;
    border-bottom: 1px solid #8c8c8c;
    border-radius: 0;
    padding: 0rem;
    background: transparent;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #8c8c8c;
        background: transparent;    
    }
}

.edit-icon{
    position: absolute;
    top: 0.3rem;
    right: 1rem;
}

/* Button toggle */
.btn-group.btn-group-toggle {
    @include themify($themes) {
        .btn-primary:not(:disabled):not(.disabled):active,
        .btn-primary:not(:disabled):not(.disabled).active{
            background: themed('primaryColor');
            border-color: themed('primaryColor');
            color: #ffffff;
        }
        .btn-primary {
            background-color: #ffffff;
            border-color: themed('primaryColor');
            color: #343a40;
        }
    }
    .btn.focus {
        box-shadow: none;
    }
}